<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/quickview.css">
    <title>ZakeDe | Home</title>
    <script src="/scripts/portfolio.js" defer></script>
    <script src="/scripts/index.js" defer></script>
</head>
<body>
    <%- include('./partials/nav'); %>
    <header>
        <img src="/images/header2.png" alt="Hello, I am Mannat, A graphic Designer">
    </header>

    <section id="about">
        <div class="about-holder">
            <div class="about-image-holder">
                <img src="images/logo.png" alt="ZakeDe" width="400px" height="400px" alt="Mannat">
            </div>
            <div class="about-text">
                <h2 class="about-heading">About Me</h2>
                <p class="about-p">
                    I'm Mannat, a graphic designer from Niagara College. The rich learning environment at Niagara College has shaped my design and fueled my passion for creative expression. Graphic design, marketing, graphic design etc.
                </p>
                <p class="about-p">
                    I am very knowledgeable in these fields and I am constantly looking for new horizons in this field. Committed to excellence and innovation, I strive to create meaningful designs that connect with audiences and push the boundaries of storytelling.
                </p>
                <p class="about-p">
                    Open to working with experimental and open-minded people to craft the best innovation in Visual Storytelling through power of Design.
                </p>
            </div>
        </div>
    </section>

    <section id="skills">
        <div class="skills-box">
            <h2 class="skills-heading">My Skills</h2>
            <div class="skills-holder">
                <div class="skills-text">
                    <p class="skills-p">
                        My expertise covers all areas of design, including Graphic Design, Concept Art, Branding, Design Construction, Graphic Design, Logo Design, UI/UX Design, Typography, Photography, Photo Editing, Print Production, Pixel Art, and Web Development. 
                    </p>
                    <p class="skills-p">
                        With a combination of technical and visual creativity, I specialize in creating beautiful and effective visuals in multiple environments and communicating well with participants. Feel free to explore my portfolio and contact me for projects :)
                    </p>
                </div>
        
                <div class="skills-anim">
                    <img src="/images/pen.png" alt="Pen Tool" width="285px" height="285px">
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <h2 class="projects-heading">
            My Projects
        </h2>
        <div class="projects-holder">
            <% let i = 0 %>
            <% postList.forEach(post => { %>
                <% if (i > 5) { return } %>
                <div class="projects-item" style="background-image: url(<%= post.image %>);background-repeat: no-repeat;">
                    <div class="projects-item-overlay">
                        <h2><%= post.title %></h2>
                    </div>
                    <div style="display: none;">
                        <h2><%= post.title %></h2>
                        <p><%= post.content %></p>
                        <span> <%= post._id %></span>
                    </div>
                </div>
                <% i++ %>
                <% }) %>
        </div>
        <h2 class="projects-more"><a href="/portfolio">More Work ></a></h2>
    </section>
    <div class="quickview-holder">
        <div class="quickview-close-holder">
            <button id="quickview-close">
                <img src="/images/close.svg" alt="close overlay" width="28px" height="38px">
            </button>
        </div>
        <div class="quickview">
            <div class="quickview-content">
                <div class="quickview-title-holder"><h2 class="quickview-title"></h2></div>
                <div class="quickview-image"></div>
                <div style="width: 100%;width: 100%;display: flex;justify-content: center;"><p class="quickview-text"></p></div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>