<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Portfolio | MannatGD</title>
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/quickview.css">
    <script src="/scripts/portfolio.js" defer></script>
</head>
<body>
    <%- include('./partials/nav'); %>
    <section id="portfolio">
        <h1 class="portfolio-heading">Portfolio</h1>
        <div class="portfolio-holder">
            <% postList.forEach(post => { %>
                <div class="portfolio-item" style="background-image: url(<%= post.image %>);background-repeat: no-repeat">
                    <div class="projects-item-overlay">
                        <h2><%= post.title %></h2>
                    </div>
                    <div style="display: none;">
                        <h2><%= post.title %></h2>
                        <p><%= post.content %></p>
                        <span> <%= post._id %></span>
                    </div>  
                </div>
                <% }) %>
        </div>
    </section>
    <div class="quickview-holder">
        <div class="quickview-close-holder">
            <button id="quickview-close">
                <img src="/images/close.svg" alt="close overlay" width="28px" height="38px">
            </button>
        </div>
        <div class="quickview">
            <div class="quickview-content">
                <div class="quickview-title-holder"><h2 class="quickview-title"></h2></div>
                <div class="quickview-image"></div>
                <div style="width: 100%;width: 100%;display: flex;justify-content: center;"><p class="quickview-text"></p></div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>